body {
    background-color: #e3f2fd;
}

.nav-item .active {
    color: blue !important;
}

.header-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.menu-image {
    display: flex;
}

header li.nav-item {
    font-size: 20px;
}

.nav-item a {
    color: black
}

.border-down {
    border-bottom: 3px solid #aaa;
}

.card-body p {
    font-size: 18px;
    color: #aaa;
}

.card-bottom img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.author {
    line-height: .5em;
    align-items: center;
    margin-left: 5px;
}

.author p {
    color: #aaa;
}

.card-body,
.card-bottom {
    margin-left: 20px;
}

.single-news {
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 30px;
    background-color: #fff !important;
    ;
}

.card {
    background-color: #e3f2fd;
    border: none;
}

.single-news img {
    height: 100%;
    position: center center;

}

.modal-box {
    width: 1200px;
    margin-left: -350px;
}

.card-text {
    text-overflow: ellipsis;
    overflow: hidden;
}





.card-text {


    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

    text-overflow: ellipsis;

    overflow: hidden;

}







/* responsive section */




@media (max-width: 768px) {

    .card-body p {
        font-size: 16px;
        color: #aaa;
    }

    .card-bottom i {
        font-size: 15px;
    }

    .card-bottom h5 {
        font-size: 15px;
    }

    .card-bottom h6 {
        font-size: 15px;
    }

    .card-bottom p {
        font-size: 15px;
    }



    .menu {
        display: flex;
        flex-direction: row;

        justify-content: flex-end;


    }

    li.nav-item {
        margin-right: 10px;
    }

    .nav {
        display: block;
        width: 100%;
        text-align: center;

    }


    .nav li a {
        font-size: 18px;
        border: 1px solid #ddd;
        display: block;
        background-color: lightseagreen;
        padding: 5px;
        width: 100%;
        margin-bottom: 5px;


    }

    #categories {
        display: flex;
        flex-direction: column !important;
        align-items: center !important;

    }


    .modal-box {
        width: 100%;
        margin-left: 0;

    }
}